.options {
  display: inline-block;
  position: relative;
  width: 544px;
  height: 544px;

  background-color: #aaa;
  margin: 4px;
}

.avatar {
  width: 64px;
  height: 64px;
}

.userName {
  font: 24px Arial;
  font-weight: bold;
}

.btn {
  display: inline;
  border: none;
  font: 16px Arial;
  font-weight: bold;
  padding: 0 6px;
  margin: 0 6px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:active {
  color: #aaa;
  background-color: #222;
}
